.hometop {
  background: #23241f;;
  color: #fff;
  .content {
    margin-bottom: 25px;
    .logo {
      text-align: center;
    }
    h2 {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 25px;
    }
  }
}

.home-events {
  .event-header {
    text-align: center;
    color: #414141;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #91c760;
  }
  .home-list {
    margin-top: 5px;
  }
}
