@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700);

body {
  color: #333;
  font-family: 'Fira Sans' !important;
  background: #F2F2F2;
  height: 100%;
  z-index: 0;
}

#wrapper {
	min-height:100%;
	position:relative;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  margin-bottom: 75px;
}
